@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom,
    #f8f7f4,
    #f3f2ee
  );

  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}